

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for @service do |form| %>

      <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited
        this service from being saved:
      </h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>



        <div class="form-group">
          <%= form.label :start_time %>
          <%=
           form.datetime_local_field :start_time, class: 'form-control'
           %>
        </div>

        <div class="form-group">
          <%= form.label :end_time %>
          <%= form.datetime_local_field :end_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :price %>
          <%= form.text_field :price, class: 'form-control' %>
        </div>

         <div class="form-group">
          <%= form.label :img %>
          <%= form.file_field :img %>
        </div>


        <%= form.submit "Create", class: 'btn btn-primary' %>
        <%= link_to 'Back', services_path, class: 'btn btn-primary'  %>
              <% end %>
    </div>
  </div>





