<div class="wrapper">


<p id="notice"><%= notice %></p>


<h1>Services</h1>

  <div class="containerFlex">
    <% @services.reverse.each do |service| %>

      <div class="serviceFeed">
        <%= link_to(service) do %>
        <h3><%= service.title %></h3>
        <p><%= service.description %></p>
        <div class="imgContainer">
          <%= image_tag service.img.url, :class => 'object-fit_cover' %>
        </div>



        <% end %>
      </div>
    <% end %>
  </div>







</div>
