<div class="wrapper">


<p id="notice"><%= notice %></p>


<h1>Services</h1>

  <div class="containerFlex">
    <% @services.each do |service| %>
      <div class="serviceFeed">
        <h3><%= service.title %></h3>
        <p><%= service.description %></p>

        <h4><%= service.start_time %></h4>
        <h4><%= service.end_time %></h4>

      </div>
    <% end %>
  </div>



<%= link_to 'New Service', new_service_path %>


</div>
