



  <div class="serviceFeed">
    <h3><%= @service.title %></h3>
    <p><%= @service.description %></p>
    <%= image_tag(@service.img.url) %>
    <h5><%= @service.price %>$ /per session</h5>
        <h4><%= @service.start_time %></h4>
        <h4><%= @service.end_time %></h4>
  </div>
