



  <div class="serviceFeed">
    <h3><%= @service.title %></h3>
    <p><%= @service.description %></p>
    <h5><%= @service.price %></h5>
    <h4><%= @service.start_time %></h4>
    <h4><%= @service.end_time %></h4>
  </div>
