<tr>
  <td>
    <%= image_tag service.img.to_s %>
  </td>
  <td>
    <h4><%= service.title %></h4>
    <br>
    <p><%= service.description %></p>
  </td>
  <td>
    <%= service.start_time %>
  </td>
  <td>

    <%= service.end_time %>

  </td>
  <td>
    <%= service.price %>
  </td>
</tr>
