

<%= form_with(model: service_provider, local: true) do |form| %>
  <% if service_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_provider.errors.count, "error") %> prohibited this service provider from being saved:</h2>

      <ul>
      <% service_provider.errors.full_messages.each do |message| %>
        <li id="errorCount"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control SP' %>



    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>



    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>

     <%= form.label 'Profile picture' %>
    <%= form.file_field :img %>

    <%= form.label :bio %>
    <%= form.text_field :bio, class: 'form-control' %>

    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>



    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>




  <div class="actions text-center"  >
    <%= form.submit "Register as provider", class: 'formButton'  %>
  </div>

<% end %>


