<body>
<div class="wrapper">
  <div class="form">


    <div class="row">
      <div class="col-sm-6 col-sm-offset-1 COLU">

        <%= form_with(url: "/login") do |form| %>

        <p id="notice" class="notice2"><%= notice %></p>


        <div class="form-group">
              <%= form.label :email %>
              <%= form.text_field :email, class: 'form-control' %>
        </div>

         <div class="form-group">
              <%= form.label :password %>
              <%= form.password_field :password, class: 'form-control' %>
        </div>

        <%= form.submit "Submit", class: 'btn btn-primary', id: "actions" %>
        <% end %>
      </div>
    </div>


  </div>
</div>

</body>