<nav>
  <% if current_page?('/') %>

  <% else %>
    <h1>Lancer</h1>
  <% end %>
  <ul class="">
    <% if session[:customer_id] %>
    <li><%= link_to "#{Customer.find(session[:customer_id])[:first_name]}, sign out", :logout, method: :post  %></li>
    <% elsif session[:service_provider_id]%>
    <li><%= link_to "#{ServiceProvider.find(session[:service_provider_id])[:first_name]}, sign out", :sp_logout, method: :post  %></li>
    <% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
       Register <i class="fas fa-chevron-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Sign up as user', [:signup] %></li>
        <li><%= link_to 'Sign up as provider', [:sp_signup]
        %></li>
      </ul>
    </li>
    </ul>
    <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Log in <i class="fas fa-chevron-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Login as user', [:login] %></li>
        <li><%= link_to 'Login as provider', [:sp_login] %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>